.footerContainer {
    grid-area: 12/1/13/7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    font-size: 1.25rem;
    font-style: italic;

    background: linear-gradient(to bottom, #ffffff, #767676);
    opacity: 0.55;
}