@import '../global/reset.css';

:root {
    --colors-primary: #444444;
    --colors-secondary: #ffffff;
    --colors-aux: #4E4E3D;
    --colors-aux2: '#877920';
    --breakpoints-mobile: 480px;
    --breakpoints-tablet: 768px;
    --breakpoints-desktop: 1024px;
    --breakpoints-max: 1280px;
  }

.globalGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    width: 100vw;

    background-image: url(/assets/img/Background_movies.jpg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;    
}