
.moviesContainer {
    grid-area: 2/1/12/7;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    justify-content: center;
    align-items: center;

    padding: 1rem;
    gap: 1rem;

    /* z-index: -1; */
}
.moviesContainer::-webkit-scrollbar {
    width: 16px;
    opacity: 0.5;
  }
  
.moviesContainer::-webkit-scrollbar-thumb {
    background-color:rgba(88, 88, 88, 0.5);
    border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

}

.moviesContainer::-webkit-scrollbar-thumb:hover {
    background-color:rgba(88, 88, 88, 0.75);
}