.movieContainer {
    grid-area: 2/1/12/7;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
}
.movieContainer__img {
    height: 50%;
}
.movieContainer__img__img {
    height: 100%;
}
.movieContainer__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.description {
    font-style: italic;
    padding: 0 3rem;
    padding-bottom: 3;
}
.backButtonPosition {
    position: absolute;
    bottom: 10%;
    right: 2%;
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}